/README.markdown~
/.project
.project
.settings
.gradle
.classpath
.springBeans
*.class
*.versionsBackup
*.orig
*.REMOTE.*
*.LOCAL.*
*.BASE.*
*.BACKUP.*
*.swp
*.iml
*/target/
*/settings/
/target
/bin
/build
.idea/

gradle/
gradlew*
